<section class="hero is-fullheight has-background-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-4 has-text-centered has-text-white">Sign Up</h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
               <h1><strong>Sing Up</strong></h1>
                 <div class="field">
                <%= f.label :name, "name", class: "label has-text-white" %>
                <div class="control">
                  <%= f.email_field :name, class: 'input is-medium', autofocus: true, required: true, placeholder: 'Name' %>
                </div>
              </div>
               <div class="field">
                <%= f.label :username, "Username", class: "label has-text-white" %>
                <div class="control">
                  <%= f.text_field :username, class: 'input is-medium', autofocus: true, required: true, placeholder: ' Username' %>
                </div>
              </div>
              <div class="field">
                <%= f.label :email, "Email", class: "label has-text-white" %>
                <div class="control">
                  <%= f.email_field :email, class: 'input is-medium', autofocus: true, required: true, placeholder: 'Email' %>
                </div>
              </div>

              <div class="field">
                <%= f.label :password, "Password", class: "label has-text-white" %>
                <div class="control">
                  <%= f.password_field :password, class: 'input is-medium', required: true, placeholder: 'Password' %>
                </div>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, "Confirm Password", class: "label has-text-white" %>
                <div class="control">
                  <%= f.password_field :password_confirmation, class: 'input is-medium', required: true, placeholder: 'Confirm Password' %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.button :submit, "Sign up", class: "button is-fullwidth is-primary is-medium" %>
                </div>
              </div>
            <% end %>

            <div class="has-text-centered">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
